.cartaCarrito {
  padding: 1rem 1rem;
  background-color: #eaeaea;
  margin-bottom: 1rem;
}
.cart-container {
  min-height: 70vh;
}
.cart-title {
  color: #212121;
}
.btn-deteleAll {
  color: #eaeaea;
  background-color: #08d9d6;
  border-color: #08d9d6;
  transition: background-color 250ms ease-in-out, transform 50ms ease-in-out,
    border-color 250ms ease-in-out;
}
.btn-deteleAll:active {
  border-color: hsl(179, 93%, 24%);
  background-color: hsl(179, 93%, 24%);
  transform: scale(0.9);
}
.btn-deteleAll:hover {
  border-color: hsl(179, 93%, 24%);
  background-color: hsl(179, 93%, 24%);
}
.btn-removeItem {
  border-radius: 5%;
  padding: 0px 5px;
  color: #eaeaea;
  background-color: #252a34;
  border-color: #252a34;
  transition: background-color 250ms ease-in-out, transform 50ms ease-in-out,
    border-color 250ms ease-in-out;
}
