.articulo__nombre{
    margin: 1rem 0rem;
}
.articulo__desc{
    margin-top: 1rem;
}
.articulo__precio{
    margin-top: 1rem;
    font-weight: bold;
}
.cantidadContainer{
    display: flex;
    align-items: flex-end;
}
.btn__Agregar{
    margin: 1rem 1rem 0 1rem;
    padding: 1rem;
    border: none;
    background-color: #08d9d6;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 
        background-color 250ms ease-in-out,
        transform 50ms ease-in-out,
        border-color 250ms ease-in-out;
}
.btn__Agregar:hover{
    border-color: hsl(179, 93%, 24%);
    background-color: hsl(179, 93%, 24%);
    color: #eaeaea;
}
.btn__Agregar:active{
    transform: scale(0.9);
}
.btn__cantidad{
    font-size: 1.5rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    margin: 1rem 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.btn__cantidad:hover{
    background-color: #08d9d6;
    border: none;
}
.btn__verMas{
    margin: 1rem 1rem 0 1rem;
    padding: 1rem;
    border: 2px solid #08d9d6;
    background-color: transparent;
    color: #08d9d6;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 
        background-color 250ms ease-in-out,
        transform 50ms ease-in-out,
        border-color 250ms ease-in-out;
}
.btn__verMas:hover{
    border-color: #08d9d6;
    background-color: #08d9d6;
    color: #eaeaea;
}
.btn__verMas:active{
    transform: scale(0.9);
}
.cantidad__texto{
    font-size: 1.5rem;
    font-weight: bold;
}