a{
    color: #212121;
}
.navBar__container{
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    position: sticky;
    top: 0;
}
.navBar__logo{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #eaeaea;
}
h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.navBar__lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}